.smythe-regular {
    font-family: "Smythe", system-ui;
    font-style: normal;
}


main {
    font-family: "Cantarell", sans-serif;

    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.hero {
    padding: 90px 10px 10px 10px;
    background-image: url("media/herobg.png");
    background-size: cover;
    object-fit: contain;
    color: white;
}

.hero-date{
    text-transform: uppercase;
    font-size: .7rem;
}

.hero-title {
    line-height: 1em;
    margin: 0;
}

.hero-desc {
    line-height: 1.2em;
}

.blog {
}
.blog img{
    width: 90%;
    max-height: 300px;
    margin: 0 20px;
}

.sectiontest2 {
}